body{
	margin: 0px;
	padding:0px;
}

/*Стили Header*/
.top-menu__ul{
	padding-top: 30px;
	display: flex;
	justify-content: center;
	padding-right: 80px;
}

.top-menu__li{
	list-style: none;
	padding-right: 20px;
	font-size: 15px;
	text-decoration: none;
	font-weight: bold;

}

.container__logo{
	float:left;
}

.logo__img{
	padding-top: 30px;
}

.buy__basket{
	position: absolute;
	left: 1100px;
	top: 30px;
	color: #3a405b;
	font-weight: bold;
	text-transform: uppercase;
	white-space: pre;
}

.buy__button{
	position: absolute;
	left: 1220px;
	top: 25px;
	border-radius: 20px;
	background: none;
	border: 2px solid #e3e8f0;
	color: #3a405b;
	font-weight: bold;
	text-transform: uppercase;
	width: 80px;
	height: 30px;
}

.buy_number{
	position: absolute;
	left: 1165px;
	top: 30px;
	text-align: center;
	background: url(../img/badge.svg) no-repeat 50% -100%;
	width: 30px;
	height: 25px;
	font-weight: bold;
	color: #3a405b;
}
/*Стили menu*/

.menu__ul{
	display: flex;
	justify-content: left;
	padding-left: 90px;
}

.menu__li{
	list-style: none;
	text-transform: uppercase;
	padding-right: 20px;
	font-weight: bold;
}

.menu__li_hovered{
 text-decoration: none;
 color: #343e5c;
}

.form__support{
	position: absolute;
	left: 900px;
	top:100px;
	text-transform: uppercase;
	font-weight:bold;
	color: #cacedc;
	text-decoration: none;
}

.form__support:hover{
	text-decoration: none;
	color: #343e5c;
}

.form__search{
	position: absolute;
	left: 1000px;
	top:81px;
	font-weight: bold;
	border:none;
	border-right: 1px solid #e3e8f0;
	border-left: 1px solid #e3e8f0;
	height: 61px;
	width: 200px;
	padding-left: 40px;
	background: url(../img/search.png) no-repeat 10% 50%;
}

 /*Стили main*/

.main__row{
 	background: url(../img/main-bg.jpg);
 	height: 500px;
 }

.main__title{
 	color: #ffffff;
 	text-align: left;
 	padding-top: 100px;
 	padding-left: 200px;
 	white-space: pre;
 }

.main__description{
	color: #ffffff;
	text-align: left;
	padding-left: 200px;
	white-space: pre;
	padding-top: 35px;
}

.main__button{
	text-transform: uppercase;
	color: #ffffff;
	background-color: #2754eb;
	border-radius: 20px;
	border: none;
	margin-left: 200px;
	margin-top: 70px;
	height: 40px;
	width: 165px;
}

.main__button:hover{
	background: #173085;
}