body{
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif;
}

h1{
	margin-top: 90px;
	font-weight: 600;
	font-size: 50px;
}

.main-text{
	color: #fd8d77;
}

h5{
	margin-top: 25px;
	color: #8a8a8a;
	font-size: 16px;
}

.col-md-3{
	margin-top: 115px;
	width: 265px;
	height: 262px;
	margin-right: 20px;
	color: #ffffff;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
}

.box-1{
	background-color: #4eb2f7;
}

.box-2{
	background-color: #c049f8;
}

.box-3{
	background-color: #817eff;
}

.box-4{
	background-color: #f74770;
}

.btn{
	color: #585858;
	background-color: #ffffff;
	height: 55px;
	width: 225px;
	border-radius: 50px;
	font-size: 16px;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
	margin-top:40px;
}

.icon{
	padding-top: 30px;
	opacity: 0.8;
}

i.fa.fa-plus{
	padding-right: 10px;
}

i.fa.fa-camera-retro {
transform: rotate(-10deg);
}