body {
  overflow-x: hidden;
}
.navbar.affix {
  top: 0;
  width: 100%;
}
.navbar-default {
  background-color: #fff;
  border-top: none;
}
.navbar-top {
  padding-top: 2.5%;
  margin-bottom: 0;
  height: 110px;
}
.navbar-nav {
  width: 80%;
  margin-left: 60px;
  margin-right: 90px;
}
.navbar-form {
  width: 30%;
  float: right;
  display: inline-block;
  margin-top: 0.2%;
  font-family: 'Roboto', sans-serif;
}
.navbar-btn {
  border-radius: 25px;
  margin-right: 6px;
}
.navbar-logo {
  margin-top: 1%;
  margin-left: 86px;
}
.btn-1 {
  width: 185px;
  padding: 12px 0;
  letter-spacing: 1.5px;
  color: #b9b9b9;
}
.btn-3,
.btn-2,
.top {
  padding: 10px 20px;
  position: fixed;
  z-index: 88888;
}
.btn-3 {
  background-color: #dfdfdf;
  margin-left: 75px;
}
.navbar-default .navbar-nav > li > a {
  color: #58a5e0;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.4px;
  padding-left: 0;
}
.navbar-nav > li {
  margin-top: 20px;
  margin-right: 1%;
  margin-left: 1%;
  padding-right: 1%;
}
.flexMenu-popup {
  text-align: center;
  padding: 0;
  background-color: #fff;
  margin: 0;
  border: 1px solid #b9b9b9;
}
.flexMenu-viewMore > a,
.flexMenu-viewMore > a:hover {
  background-color: #fff;
}
.flexMenu-viewMore > a:after {
  display: inline-block;
  content: "";
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 0.4em solid #58a5e0;
  margin-left: 0.4em;
  position: relative;
  top: -0.1em;
}
.flexMenu-viewMore.active > a,
.flexMenu-viewMore.active > a:hover {
  background-color: #088;
  text-align: center;
}
.flexMenu-popup > li > a,
.flexMenu-popup > li {
  display: block;
  color: #58a5e0;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.4px;
  padding: 5px 10px;
}
.flexMenu-popup > li > a:hover {
  background-color: #b9b9b9;
}
.flexMenu-viewMore {
  margin-left: 30px;
  margin-right: 23px;
}
.flexMenu-popup li {
  border-bottom: 1px solid #b9b9b9;
}
img.large {
  margin: 0 auto;
  width: 76px;
  position: fixed;
  z-index: 9999999;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}
img.small {
  width: 60px;
  position: fixed;
  z-index: 9999999;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  top: 10px;
}
.btn-2 .btn-3,
.bottom {
  position: fixed;
  background-color: #fff;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  top: 10px;
}
@media screen and (max-width: 767px) {
  .menu .flex {
    display: none;
  }
  .navbar-logo {
    margin-top: 2%;
    max-width: 70%;
  }
  .navbar-form {
    display: none;
  }
  img.small {
    width: 50px;
    top: 2px;
  }
  .flexMenu {
    display: none;
  }
  .navbar-nav {
    width: 70%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .navbar-form {
    width: 50%;
  }
  .btn-3 {
    margin-left: 75px;
  }
  .btn {
    margin-right: 10px;
  }
  .navbar-nav {
    width: 75%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .navbar-form {
    margin-right: 3%;
    width: 35%;
  }
  .btn-3 {
    margin-left: 75px;
  }
}
@media (min-width: 1400px) {
  .btn-3 {
    margin-left: 75px;
  }
  .navbar-logo {
    margin-top: 10px;
    margin-left: 91px;
  }
  .navbar-nav {
    margin-top: -7px;
    margin-left: 80px;
    margin-bottom: 10px;
  }
  .navbar-nav > li {
    margin-right: 25px;
  }
}
