html {
  font-size: 10px;
}
body {
  padding: 0;
  margin: 0;
  background: #0a2e21;
}
header {
  background-color: #fff;
}
.header {
  background: url(../img/main-bg.jpg) no-repeat center 7rem;
  background-size: cover;
  height: 55rem;
}
.header-phone {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Russo One', sans-serif;
  color: #032e23;
  font-size: 2.5rem;
}
.header-phone:hover {
  text-decoration: none;
  color: #098e6c;
}
.header-box {
  margin-top: 6rem;
  display: inline-block;
  text-align: center;
  border-radius: 50px;
  width: 60rem;
  height: 25rem;
  background: rgba(255, 255, 255, 0.6);
}
.header-caption {
  padding-top: 2rem;
  font-family: 'Russo One', sans-serif;
  letter-spacing: 0.5rem;
  font-size: 8rem;
  color: #032e23;
  text-shadow: 2px 2px 10px black;
}
.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
  background: #0a2e21;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
}
.navbar .nav {
  padding-left: 5rem;
}
.navbar .nav-link {
  padding-left: 1rem;
  text-transform: uppercase;
  font-family: 'Cormorant Unicase', serif;
}
.navbar .nav-link:hover {
  background: #13583f;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}
.main {
  padding: 0;
  background-color: #fff;
}
.sale {
  max-width: 100rem;
}
.sale-carousel {
  position: relative;
}
.sale-carousel_img {
  margin: 2rem auto;
}
.about_us {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
}
.about_us-caption {
  font-family: 'Russo One', sans-serif;
  color: #032e23;
  text-shadow: 0.5px 0.5px 2px black;
}
.about_us-text {
  font-family: 'Cormorant Unicase', serif;
  font-size: 2rem;
  font-weight: 600;
  text-align: justify;
}
.about_us-phone {
  font-family: 'Russo One', sans-serif;
  color: #032e23;
  font-size: 2rem;
}
.about_us-phone:hover {
  text-decoration: none;
  color: #098e6c;
}
.menu {
  background: #efefec;
}
.menu-tab_caption {
  text-align: center;
  padding-bottom: 1.5rem;
  font-size: 3rem;
  font-family: 'Russo One', sans-serif;
  color: #032e23;
}
.menu-nav {
  padding-left: 20rem;
  background: #0a2e21;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
}
.menu-nav_item {
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: 'Cormorant Unicase', serif;
}
.menu-nav_item:hover {
  color: #fff;
}
li.menu-nav_lists {
  margin-left: 1rem;
}
li.menu-nav_lists :hover {
  background: #0a2e21;
  border-radius: 0px;
}
.cakes {
  list-style: none;
  margin: 0 -20px 0 0;
  padding: 0;
}
.cakes-wrapper {
  display: block;
  float: left;
  -webkit-transition: width .2s;
  transition: width .2s;
}
.cakes-item {
  display: block;
  border: 1px solid #b5e9a7;
  position: relative;
  background: #fff;
  margin: 0 20px 20px 0;
  text-decoration: none;
  color: #474747;
  z-index: 0;
  height: 35rem;
}
.cakes-item:hover {
  color: #333333;
  text-decoration: none;
}
.cakes-photo {
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
}
.cakes-photo img {
  position: absolute;
  right: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}
.cakes-description {
  position: relative;
  display: inline-block;
  text-overflow: ellipsis;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}
.cakes-description_caption {
  font-family: 'Russo One', sans-serif;
  color: #032e23;
  text-align: center;
  font-size: 1.4rem;
}
.cakes-description_text {
  font-family: 'Cormorant Unicase', serif;
  font-weight: bold;
  font-size: 1.3rem;
}
.cakes:hover .cakes-photo img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.alt_page_navigation {
  padding-bottom: 1rem;
}
.alt_page_navigation a {
  padding: 0.3rem 0.5rem;
  margin: 0.2rem;
  color: white;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 1.2rem;
  background-color: #DB5C04;
}
.active_page {
  background-color: white !important;
  color: black !important;
}
.contacts-caption {
  margin-top: 3rem;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  color: #032e23;
  text-shadow: 0.5px 0.5px 2px black;
}
.contacts-map {
  width: 40rem;
  height: 30rem;
  margin: 3rem 2rem;
}
.contacts-box {
  width: 40rem;
  height: 30rem;
  background: #0a2e21;
  position: absolute;
  left: 12%;
  margin-top: 5rem;
}
.contacts-text {
  font-family: 'Cormorant Unicase', serif;
  font-size: 2rem;
  font-weight: bold;
}
.contacts-phone {
  color: #333333;
}
.contacts-phone:hover {
  text-decoration: none;
}
.contacts-list {
  margin-top: 4rem;
}
